@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

:root{
    --primary: #2f9c95;
    --secondary: #e2efde;
    --accent1: #033f63;
    --accent2: #2a2d34;
}

body{
    background-color: var(--secondary);
    padding:0;
    font-family: "Comic Relief";
    justify-content: center;
}

main a{
    color: var(--primary);
}

header{
    margin:auto;
    padding:0;
}
ul{
    list-style-type: none;
    display: flex;
    padding:0;
}
li{
    padding:0;
    margin:1rem;
    text-align: center;
}

.homebar{
    background-color: white;
    text-decoration: none;
}

.title-link{
    text-decoration: none;
    color: var(--primary);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title-link:hover{
    color: var(--accent1);
}

#projectGrid{
    display: grid;
}

@media only screen and (max-width: 800px) {
    .title-link{
        font-size: 1.5rem;
        width:100%;
    }

    #headBar{
        display: grid;
    }
    
    #headBar ul{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    
    body{
        width:100%;
        margin:auto;
    }
}

@media only screen and (min-width: 800px) {
    .title-link{
        font-size: 1.5rem;
    }

    #headBar{
        display:grid;
    }
    
    #headBar ul{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(5, 1fr);
    }
    
    body{
        margin:0 15vw;
    }
}