@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

:root{
    --primary: #2f9c95;
    --secondary: #e2efde;
    --accent1: #033f63;
    --accent2: #2a2d34;
}

body{
    background-color: var(--secondary);
    margin:0 15vw;
    padding:0;
    font-family: "Comic Relief";
}

main a{
    color: var(--primary);
}

header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:1vw;
    gap:0.5vw
}

.homebar{
    background-color: white;
    text-decoration: none;
}

.title-link{
    text-decoration: none;
    color: var(--primary);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
}
.title-link:hover{
    color: var(--accent1);
}

#projectGrid{
    display: grid;
}